:root {
  --color-principal: #0D8BB9;
  --color-secundario: #3399CC; 
  --color-hover: #1976D2; 
  --color-fondo: #000000; 
  --color-texto: #FFFFFF; 

  /*Accesibilidad*/

  --color-principal: #17b6eb; 
  --color-secundario: #00fff2;
  --color-resaltado: #FFD700; 
  --color-banner: #00ff08; 
  --color-opcional: #c8ff00; 
  --color-letra: #0400ff;
  --color-border: #09ff00;
  --color-botton: #ff00ea;

}
*{
  padding: 0%;
  margin:0%;
  box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #000;
    color: white;
    font-family: 'Inter', sans-serif;
  }
  
  /* Marquesina ticker */
  .marquesina {
    background-color: #0D8BB9;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    
    letter-spacing: 2px;

    
    
  }
  
  .ticker {
    display: inline-block;
    padding: 10px;
    animation: ticker-scroll 30s linear infinite;
    font-size: 14px;
  }
  
  
/* Estilos para los controles de accesibilidad */
.accessibility-controls {
  position: fixed;
  top: 450px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.accessibility-controls button {
  background-color: #17b6eb; /* Verde */
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.accessibility-controls button:hover {
  background-color: #00fff2;
}

/* Estilos para el modo de alto contraste y daltonismo */
body.high-contrast {
  background-color: #ffffff; /* Gris oscuro */
  color: #ffd900; /* Gris claro */
}

body.high-contrast h1,
body.high-contrast h2,
body.high-contrast h3 {
  color: #00ff08; /* Azul claro */
}
body.high-contrast .seccion-quienes-somos {
  background-color: rgba(0, 0, 0, 0.49);
}

body.high-contrast .ultimo-moda{
  background-color: rgba(0, 0, 0, 0.49);
}

body.high-contrast a {
  color: #ffd900; /* Verde claro */
}

body.high-contrast button,
body.high-contrast .boton,
body.high-contrast .card button {
  background-color: #c8ff00; /* Azul */
  color: #0400ff;
  border: 1px solid #09ff00;
}

body.high-contrast button:hover,
body.high-contrast .boton:hover,
body.high-contrast .card button:hover {
  background-color: #ff00ea;
}

body.high-contrast .nav-bar,
body.high-contrast .modal-carrito,
body.high-contrast .contactanos-derecha form,
body.high-contrast footer {
  background-color: #137013; /* Gris azulado oscuro */
}

body.high-contrast .banner::before {
  background-color: #137013; /* Azul más intenso */
}

body.high-contrast .carrito {
  color: #00f7ff; /* Verde claro */
}

body.high-contrast .card {
  background-color: rgba(0, 255, 64, 0.7); /* Gris azulado oscuro con transparencia */
}

img {
  filter: contrast(120%);
}

body.high-contrast img {
  filter: contrast(150%);
}
body.high-contrast .detalle-producto{
  background-color: #fff;
}

body.high-contrast .informacion-producto{
  background-color: #00000057;
}

.banner::before {
  background-color: #1E88E5;
}
  @keyframes ticker-scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Navbar */
  .nav-bar {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto distribuye los elementos a lo largo del eje */
    padding: 15px 30px;
    position: relative;
}

.logo-img {
    width: 7%;
    margin-right: 15px; /* Mantiene el logo a la izquierda */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 5px 40px;
    padding: 0;
    margin-left: auto; /* Empuja los enlaces hacia la derecha */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-family: 'Jomhuria', cursive;
    font-size: 2em;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0D8BB9; /* Color cuando se pasa el ratón sobre el icono */
}

.carrito {
    font-size: 1em;
    color: white;
    cursor: pointer;
}

  /* Estilos del Carrito */
.modal-carrito {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: white;
  color: #333;
  z-index: 1000;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  font-size: 11px;
}

.btn-eliminar {
  background: none;
  border: none;
  color: #ff5252;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px;
}

.btn-eliminar:hover {
  color: #ff0000;
}
.contenido-carrito {
  padding: 20px;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
  float: right;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.info-producto {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.info-producto img {
  border-radius: 4px;
}
.cantidad-producto {
display: flex;
align-items: center;
margin: 10px 0;
}

.cantidad-producto button {
width: 30px;
height: 30px;
background: #0D8BB9;
color: white;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
}

.cantidad-producto button:hover {
background: #0a7ba3;
}

.cantidad-producto input {
width: 50px;
height: 30px;
text-align: center;
margin: 0 5px;
border: 1px solid #ddd;
border-radius: 4px;
}
.controles-cantidad {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controles-cantidad button {
  background: #f0f0f0;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.controles-cantidad button:hover {
  background: #ddd;
}

.btn-eliminar {
  color: #ff5252;
  margin-left: 10px;
}

#carrito-resumen {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

.btn-finalizar {
  width: 100%;
  padding: 10px;
  background: #0D8BB9;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-finalizar:hover {
  background: #0a7ba3;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.hamburger {
  display: none; /* Oculto en pantallas grandes */
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Notificación */
.notificacion {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #4682B4;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1001;
}

.notificacion.mostrar {
  opacity: 1;
}
/* Contenedor para los botones finales */
.controles-finales {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre los botones */
  margin-top: 10px;
}
/* Estilos para los breadcrumbs */
.breadcrumbs {
  background-color: #000; /* Fondo claro */
  padding: 10px 0; /* Espaciado vertical */
  font-size: 14px; /* Tamaño de fuente */
  color: #fff; /* Color de texto */
  margin-bottom: 20px; /* Espacio abajo */
  border-bottom: 1px solid #ddd; /* Línea divisoria inferior */
}

.breadcrumbs .container {
  max-width: 1200px; /* Tamaño máximo de contenedor */
  margin: 0 auto; /* Centrar */
  padding: 0 20px; /* Espaciado interno */
}

.breadcrumbs a {
  color: #ffffff; /* Azul para los enlaces */
  text-decoration: none; /* Quitar subrayado */
  transition: color 0.3s; /* Transición suave al pasar el mouse */
}

.breadcrumbs a:hover {
  color: #075F7C; /* Color más oscuro al pasar el mouse */
}

.breadcrumbs span {
  color: #0D8BB9; /* Color gris para el último elemento */
  font-weight: bold; /* Resaltar el último elemento */
}

/* Para asegurar que los breadcrumbs se alineen correctamente */
.breadcrumbs a + span {
  padding-left: 10px; /* Separación entre los elementos */
}

/* Estilo para el botón de vista */
.btn-vista {
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-decoration: none;
  border: 1px solid #eee;
  transition: all 0.3s ease;
}

.btn-vista:hover {
  background-color: #333;
  color: white;
}

.btn-vista i {
  font-size: 16px;
}

/* Estilo para el botón del carrito (ajustado para coincidir) */
.btn-carrito {
  width: 36px;
  height: 36px;
  background-color: #0D8BB9;
  color: white;
  border: none;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-carrito:hover {
  background-color: #0a7ba3;
}

.btn-carrito i {
  font-size: 16px;
}
  
  
  
  /* Contenedor del producto detalle */
  .detalle-producto {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #000;
  }
  
  .detalle-contenido {
    display: flex;
    max-width: 1200px;
    gap: 40px;
    padding: 20px;
  }
  
  .imagenes-producto {
    flex: 1;
  }
  
  .producto-imagen {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
  }
  
  .informacion-producto {
    flex: 2;
    padding: 20px;
    background-color: #222;
    border-radius: 3px;
    margin-bottom: 50px; /* Añadido margen inferior para separarlo de los botones */
}
  
  h1 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .precio {
    font-size: 1em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
  }
  
  select {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .acciones {
    margin-top: 20px;
  }
  
  .acciones button {
    padding: 12px 30px;
    margin-right: 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .acciones button.btn-agregar {
    background-color: #3399CC;
    color: white;
  }
  
  .acciones button.btn-rapida {
    background-color: #3399CC;
    color: white;
  }
  
  .acciones button.btn-favoritos {
    background-color: #3399CC;
    color: white;
  }
  
  .acciones button:hover {
    background-color: #1976D2;
  }
  
  /* Detalles del producto y sección de información */
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    
}
  
  #informacion {
    list-style-type: none;
    padding: 0;
    ;
  }
  
  #informacion li {
    font-size: 1em;
    margin-bottom: 10px;
    
  }
  
  #informacion span {
    font-weight: bold;
  }
  
  
  footer {
    background-color: #000000;
    border-top: 1px solid #FFFFFF;
    padding: 50px 20px;
    color: #FFFFFF;
    font-family: 'Instrument Sans', sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 30px;
   
  }
  
  .footer-column {
    width: 30%;
  }
  
  .footer-column h3 {
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    margin-bottom: 20px;
  }
  footer .footer-column a {
    color: white; /* Enlaces en color blanco */
    text-decoration: none; /* Eliminar subrayado */
    transition: color 0.3s ease; /* Transición suave (opcional) */
}
  
  .footer-column p {
    text-align: justify;
    line-height: 1.6;
  }
  
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;
  }
  
  .fab{
    color: white;
    font-size: 45px;
  }
  .social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .copyright {
    text-align: center;
    padding-top: 30px;
  }
  .style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image-logo{
    width:50%;
  }
  .logo-footer {
    text-align: center;
}

@media (max-width: 768px){
  .nav-links {
    display: none; /* Oculta el menú en mobile */
    flex-direction: column;
    background-color: #000;
    position: static;
    top: 60px; /* Ajusta según la altura de tu barra de navegación */
    left: 0;
    width: 100%;
    text-align: center;
    flex-grow: 1; /* Permite que el menú crezca para ocupar el espacio disponible */
    z-index: 1000; 
}
.nav-links.active {
    display: flex; /* Muestra el menú cuando está activo */
}
.nav-links li {
    margin: 15px 0;
}
.hamburger {
    display: block; /* Muestra el botón hamburguesa en mobile */
}
.logo-img {
    width: 15%; /* Ajusta el tamaño del logo para mobile */
}
.nav-bar {
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

  .div .detalle-contenido{
    background-color: blue;
  }

  .detalle-contenido{
    display: flex;
    flex-direction: column;
  }
  .informacion-producto{
    text-align: center;
  }
  .acciones button {
    margin-right:0px;
  }
  .acciones button.btn-agregar{
    margin-bottom: 10px;
    margin-right:0px;
  }
  .acciones button.btn-rapida{
    margin-bottom: 10px;
    margin-right:0px;
  }
  /* SECCION FOOTER */
  .footer-content {
    flex-direction: column;
    align-items: center;
}

.footer-column {
    width: 90%;
    margin-bottom: 30px;
}

.footer-column h3 {
    font-size: 1.3em;
}

.footer-column p {
    font-size: 0.9em;
    text-align: center;
}

.social-icons {
    gap: 15px;
}

.fab {
    font-size: 30px;
}

.image-logo {
    width: 80%;
}
}
